/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the nav bar */
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Style the brand */
.brand {
    color: #b636ff;
    font-weight: 700;
    font-size: 40px;
    font-style: Serif;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none;
}

/* Change color on hover */
.nav-link:hover {
    text-decoration: underline;
}

.intro {
    text-align: center;
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: url('./bg.jpg') no-repeat center center/cover;
    z-index: 0;
    filter: opacity(0.5) drop-shadow(0 0 0 rgba(128, 0, 128, 0.7));
}

.intro-text {
    position: relative;
    z-index: 1;
    color:#fff;
    padding: 20px;
}
.intro-text h1 {
    font-size: 48px;
    font-weight: bold;
}

.intro-text p {
    font-size: 24px;
    margin: 20px 0;
    font-weight:300;
}

.resume-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #b636ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #ddd;
}


.about-me {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    padding: 60px 20px;
    color: #333;
}

.about-me-text {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #515050;
    justify-content: center;
    text-align: center;
}

.about-me-text  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 30px;
    color: #999fb3;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Poppins', sans-serif;
}
.about-me-text  h3 {
    font-size: 18px;
    line-height: 1.6;
    margin: 30px;
    color: #3c4258;
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}
.about-me-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;


}
.divider {
    margin: 20px 0;
    border: 0;
    height: 1px;
    max-width: 90%;
    background: #757272;
    margin-left: 50px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }
  .contact-item {
    flex: 1;
    text-align: center;
    margin: 0 10px; /* Add some space between items */
  }
  
 
  
  .phone, .email, .website {
    max-width: 33%;
    color: #636a82;


  }