/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the nav bar */
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Style the brand */
.brand {
    color: #b636ff;
    font-weight: 700;
    font-size: 40px;
    font-style: Serif;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: rgb(109, 109, 109);
    text-align: center;
    text-decoration: none;
}

/* Change color on hover */
.nav-link:hover {
    text-decoration: underline;
}

.intro {
    text-align: center;
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: url('./bg.jpg') no-repeat center center/cover;
    z-index: 0;
    filter: opacity(0.5) drop-shadow(0 0 0 rgba(128, 0, 128, 0.7));
}

.intro-text {
    position: relative;
    z-index: 1;
    color:#fff;
    padding: 20px;
}
.intro-text h1 {
    font-size: 48px;
    font-weight: bold;
}

.intro-text p {
    font-size: 24px;
    margin: 20px 0;
    font-weight:300;
}

.resume-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #b636ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #ddd;
}


.about-me {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    padding: 60px 20px;
    color: #333;
}

.about-me-text {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #515050;
    justify-content: center;
    text-align: center;
}

.about-me-text  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 30px;
    color: #999fb3;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Poppins', sans-serif;
}
.about-me-text  h3 {
    font-size: 18px;
    line-height: 1.6;
    margin: 30px;
    color: #3c4258;
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}
.about-me-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;


}
.divider {
    border: 0;
    height: 1px;
    max-width: 90%;
    background: #b0b0b0;
    margin-left: 50px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }
  .contact-item {
    flex: 1;
    text-align: center;
    margin: 0 10px;
  }
  .phone, .email, .website {
    max-width: 33%;
    color: #636a82;
}

/* EDUCATION */

.education-text{
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #515050;
    justify-content: center;
    text-align: center;

}
.education {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
 
  
  .education-timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust alignment of items */
  }
  
  .educontainer {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width of each item */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px; /* Adjust spacing between items */
  }
  
  .edu-text {
    margin-bottom: 20px; /* Adjust spacing between each piece of information */
  }
  .educontainer img {
    position: absolute;
    width: 20px;
    right: calc(50% - 10px); /* Centering the dot relative to the middle line */
    top: 32px;
    border-radius: 50%;
  }
  .edu-text h3 {
    font-size: 1.2em;
    color: #43485c;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}


.edu-text h4{
    font-size: 16px;
    font-weight: 300;
    color: #636a82;
    margin-top: 14px;
    text-transform: uppercase;

}
.edu-text p{
    color: #999fb3;
    line-height: 20px;
    font-size: 14px;


}

/* SKILLS */
.skills-text{
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #515050;
    justify-content: center;
    text-align: center;

}
.skill-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.skill-column{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.skill-box {
    width:500px;
    margin:10px;
    
}

.skill-title {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Poppins,sans-serif;
    color:#6768A1;
}

.skill-bar {
    position: relative;
    background: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height:10px;
}

.skill-per {
    display: block;
    height: 100%;
    width:200px;
    background: #b636ff;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
    position: relative;
}


.tooltip {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 3px;
}







/* Experience Timeline */
.experience-text{
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #515050;
    justify-content: center;
    text-align: center;
}
.experience-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 100px auto;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    color: white;
    border-radius: 10px;
    position: relative;
}

.left-container {
    grid-column: 1;
    justify-content: flex-end;
    text-align: right;
    box-sizing: border-box;

}

.right-container {
    grid-column: 2;
    justify-content: flex-start;
    box-sizing: border-box;
}
.right-container h3{
    text-align: left;
}



.textbox h3 {
    font-size: 1.2em;
    color: #43485c;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}


.textbox h4{
    font-size: 16px;
    font-weight: 300;
    color: #636a82;
    margin-top: 14px;
    text-transform: uppercase;

}
.textbox p{
    color: #999fb3;
    line-height: 20px;
    font-size: 14px;


}
.container img{
    position:absolute;
    width:20px;
    right: calc(50% - 10px); /* Centering the dot relative to the middle line */

    border-radius: 50%;
    right:-20px;
    top:32px;
}
.right-container img {
    left: calc(50% - 10px); /* Centering the dot relative to the middle line */
}

.right-container img {
  left:-20px;
}
.experience-timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #b0b0b0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}


 

